.addImage {
    height: 250px;
    border: 2px solid;
    border-style: dotted;
    background: url('/icons/add-image.png') no-repeat center;
    cursor: pointer;
    border-radius: 1.375rem;
}

#newImg {
    width: 100%;
    border-radius: 1.375rem;
}

.logo img{
    width: 65px;
}

.dish-image-box {
    height: 185px;
}

.head {
    height: 4.3rem;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0rem;
    background-color: #fff;
    z-index: 3;
    /* padding-left: 21.563rem; */
    transition: all .2s ease;
}

.rst-con {
    background-image: url(http://dzen.local/img/basket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 180px;
    width: auto;
}

.restaurant {
    height: 265px;
}

.dish-card {
    height: auto;
    overflow: hidden;
}

.price {
    font-weight: 700;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}

.cart__item {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.count-dish-in-cart {
    padding: 0;
    height: 28px;
    text-align: center;
    border-radius: 0;
    width: 50px;
}

.btn-plus {
    border-radius: 0 0.375rem 0.375rem 0;
}

.btn-minus {
    border-radius: 0.375rem 0 0 0.375rem;
}

.rst-logo {
    width: 150px;
}

.rst-top {
    height: 280px;
    background-image: url('/img/bg-org-shashlik.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.rst-top h3 {
    color: #fff;
}

.rst-desc-item {
    color: #b9b9b9;
}

.rst-top-hr {
    border: 1px solid #fff;
}

.page-footer {
    background-color: #f4f6fd;
}