body {
  background: #f6f6f6;
}

.cart {
  font-size: 32px;
  color: #0ec645;
  cursor: pointer;
}

.info {
  font-size: 32px;
  color: #ffae00;
  cursor: pointer;
}

.company {
  background-color: #fff;
  border-radius: 20px;
}

.company .img {
  width: 100%;
  height: 178px;
  overflow: hidden;
}

.company .img img {
  width: 100%;
  border-radius: 20px;
}

.company a {
  color: #000;
  text-decoration: none;
}

.set-of-dish .dish {
  width: 32%;
  background-color: #fff;
  border-radius: 20px;
}

.set-of-dish .dish .img {
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.set-of-dish .dish .img img {
  width: 100%;
  border-radius: 20px;
}

.set-of-dish .dish .content .bottom .price-container .cart {
  font-size: 24px;
  color: #0ec645;
  cursor: pointer;
}

.set-of-dish .dish .content .bottom .price-container .info {
  font-size: 24px;
  color: #ffae00;
  cursor: pointer;
}

.card.restaurant {
  height: 250px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 7px 20px -8px rgba(157, 157, 163, 0.1);
  transition: all 0.2s ease;
}

.card.restaurant:hover {
  transform: translateY(-4px);
  box-shadow: 0px 7px 19px -1px rgba(172, 172, 179, 0.3);
}

.restaurant-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

