<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" v-for="order in localOrders">
                <div class="card">
                    <div class="card-header">Номер заказа: {{ order.id }}</div>

                    <div class="card-body">
                       <p>Телефон: {{ order.phone }}</p>
                       <p>Адрес: {{ order.address }}</p>
                       <p>Комментарий: {{ order.comment }}</p>
                    </div>
                    
                    
                </div>
            </div>
            <button @click="update">Отправить заказ</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['orders', 'company'],
        computed: {
            channelOfChat(){
                return  window.Echo.private("room.1");
            }
        },
        mounted() {
            
            this.localOrders = this.orders;
            window.Echo.private('company.' + this.company.id)
            .listen('OrderEvent', (e) => {
                this.localOrders.push(e.order);
            });
        },
        data: function () {
            return {
                data: 0,
                number: 47,
                localOrders: null,
            }
        },
        methods: {
            update: function () {
                axios
                .get('eve', {
                    number: this.number,
                })
                .then((response) => {
                    console.log('Ответ AXIOS')
                })
            }
        }
    }
</script>
