<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                   
                    RST
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: [],
        computed: {
            
        },
        mounted() {
            
            
        },
        data: function () {
            return {
                data: 0,
                number: 47,
                localOrders: null,
            }
        },
        methods: {
            
        }
    }
</script>
